// Place all the styles related to the DataCollector controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#center {
  #redButton {
    margin-left: 45%;
    margin-top: 10%;
  }

  #greenButton {
    margin-right: 45%;
    margin-top: 10%;
  }
}
